<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end"  (click)="EnviarCorreo()">
      Enviar
      <ion-button 
                   color="primary" >
        <ion-icon slot="icon-only" name="send"></ion-icon>
        
      </ion-button>
    </ion-buttons>
     
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item slot=""> 
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-label>
        <h2>Awesome Label</h2>
         <p>2020-07-10</p>
    </ion-label>
     
    </ion-item>

  </ion-list>
 
</ion-content>
